<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<!-- Suite -->
  <listeners>

            <listener class-name="com.DS.Utilities.ListernerSetup"/>
            <listener class-name="com.DS.Utilities.ExtentReporterNG"/>
  
  </listeners>
  
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.DS.TestLayer.LoginPageTest"/>
       <class name="com.DS.TestLayer.BuyProduct_Functionality"/>
      <class name="com.DS.TestLayer.LogOutFunctionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
